@import './8.less';

/*  This creates a simple answer key at the back of a book.
    It also adds numbers to the answers using the same code
    for determining the exercise number.
 */
exercise.homework,
exercise.conceptual {
  // Add a number to the beginning of an answer
  > answer::before {
    content:
      /* Chapter number */
      count-of-type('body', 'chapter')
      "."
      /* Exercise number */
      count-of-type('chapter', 'exercise.homework, exercise.conceptual');
  }
}

/* Create the Answer key as the 1st end-of-book item */
body::after(1) {
  &::before {
    tag-name-set: "h1";
    content: "Answer Key";
  }

  /* This moves all `<answer>` elements that are found in the `<body>`
      because the current context is `body` (from the selector)
  */
  content: move-here('answer');
}
