/*Test to see if * works : chapter::before(*)::before(1) { content: foo; }*/


/* Case 1 */
chapter:Xafter(1):Xbefore(1) { content: "Conceptual Questions"; }
chapter:Xafter(2):Xbefore(1) { content: "Homework Problems"; }

/* Case 2 */
chapter:Xafter(1),
chapter:Xafter(2) { attrs-add: "data-type" "eoc-item"; }
chapter:Xafter(1):Xbefore(1),
chapter:Xafter(2):Xbefore(1) { class-add: "title"; }

/* Case 3 */
chapter:Xafter(1) { content: move-here('exercise.conceptual', default); }
chapter:Xafter(2) { content: move-here('exercise.homework', default); }

/* Case 4 */
chapter:Xafter(1):Xfor-each-descendant(1, '> section'),
chapter:Xafter(2):Xfor-each-descendant(1, '> section') {
  class-add: "eoc-section";
  content: move-here('exercise.homework', default);
}
chapter:Xafter(1):Xfor-each-descendant(1, '> section'):Xbefore(1),
chapter:Xafter(2):Xfor-each-descendant(1, '> section'):Xbefore(1) {
  class-add: "title";
  content: target-context('> title', contents());
}

/* Case 5 */
exercise.homework:Xbefore(1),
exercise.conceptual:Xbefore(1) {
  class-add: "number";
  content: nth-of-type('exercise.homework, exercise.conceptual', 'chapter');
}

/* Case 6 */
a:target('#' attr(href), 'exercise.homework', 'exercise.conceptual'):Xbefore {
  content:
    "See Exercise "
    target-context(attr(href), nth-of-type('chapter'))
    "."
    target-context(attr(href), nth-of-type('exercise.homework, exercise.conceptual', 'chapter'));
}

/* Case 7 */
ol[data-label]:Xoutside(1) { class-add: "list-wrapper"; }
ol[data-label]:Xoutside(1):Xbefore(1) {
  class-add: 'list-label';
  content: attr(data-label);
}

/* Case 8 */
note:Xinside(1) { class-add: 'note-body'; }
/*note:Xinside(1, ':not(.title)') { class-add: "note-body"; }*/

/* Case 9 */
exercise.homework > answer:Xbefore(1),
exercise.conceptual > answer:Xbefore(1) {
  content:
    nth-of-type('chapter')
    '.'
    nth-of-type('exercise.homework, exercise.conceptual', 'chapter');
}
/* Answer Key */
body:Xafter(1):Xbefore(1) { content: "Answer Key"; }
body:Xafter(1) {
  contents: move-here('exercise.homework > answer, exercise.conceptual > answer', default);
}

/* Case 10 */
exercise.homework:has(> answer):Xbefore,
exercise.conceptual:has(> answer):Xbefore {
  tag-name-set: "a";
  attrs-add: "href" "#" target-context('> answer', attr-ensure(id));
}
exercise.homework > answer:Xbefore(1),
exercise.conceptual > answer:Xbefore(1) {
  tag-name-set: "a";
  attrs-add: "href" "#" parent-context(attr(id));
}
