@NUMBERED_EXERCISES: 'exercise.conceptual' 'exercise.homework';
@NUMBERED_EXERCISES_SEL_STR: 'exercise.conceptual, exercise.homework'; // TODO: construct me dynamically


.end-of-chapter(@which, @title, @exerciseSelStr) {
  @exerciseSel: e(@exerciseSelStr);

  &::after(@{which}) {
    &::before {
      class-add: "title";
      content: @title;
    }
    attrs-add: "data-type" "eoc-item";

    &::for-each-descendant(1, '> section') {
      &:has(@{exerciseSel}) {
        &::before {
          class-add: "section-title";
          content: descendant-context('> .title', text-contents());
        }
        class-add: "eoc-section";

        // Select the proper exercises to move here (all of the ones in the section)
        // the context for move-here is the current section.
        content: move-here(@exerciseSelStr);
      }
    }
  } // for-each-descendant
}


.generate-numbered-exercises(@list, @i: 1) when (@i =< length(@list)) {
  @exerciseSel: e(extract(@list, @i));
  @{exerciseSel} {
    &::before {
      class-add: "number";
      content: ancestor-context('chapter', count-of-type(@NUMBERED_EXERCISES_SEL_STR));
    }
  }
  .generate-numbered-exercises(@list, (@i + 1));
}



// Generate the CSS!

@hack1: e(%("(href, '%s')", @NUMBERED_EXERCISES_SEL_STR));
a:target@{hack1} {
  content:
    "See Exercise "
    // Chapter number
    target-context(attr(href), ancestor-context('body', count-of-type('chapter')))
    "."
    // Exercise number
    target-context(attr(href), ancestor-context('chapter', count-of-type(@NUMBERED_EXERCISES_SEL_STR)));
}


.generate-numbered-exercises(@NUMBERED_EXERCISES);


chapter {
  .end-of-chapter(1, "Conceptual Questions", 'exercise.conceptual');
  .end-of-chapter(2, "Homework Problems", 'exercise.homework');
}
