chapter:Xafter(1):Xbefore(1) { content: "Conceptual Questions"; }
chapter:Xafter(2):Xbefore(1) { content: "Homework Problems"; }
chapter:Xafter(2):Xbefore(2) { content: "Homework Problems"; }
chapter:Xafter(2):Xbefore(2) { content: "Homework Problems"; }
chapter:Xafter:Xbefore { content: "Conceptual Questions"; }

/*assert.equal(app._$('[pseudo="Xafter"]').length, 2)
assert.equal(app._$('[pseudo="Xbefore"]').length, 3)
assert.equal(app._$('[pseudo="Xafter"] > [pseudo="Xbefore"]').length, 3)*/
