::explode { content: "invalid pseudo-element"; }
:expode { content: "invalid pseudo-class"; }
body { content: invalid-function(); }
body:Xafter(non-numeric-arg) { content: "bug"; }
body { attrs-add: 'data-with-no-value'; }
/*:Xafter(non-numeric-arg) { content: "bug"; }*/
body:Xfor-each-descendant(1,) { content: "no 2nd arg specified"; }
body:Xfor-each-descendant(1,0) { content: "2nd arg must be a string"; }
body { contentssss: "bug"; }
