/.sass-cache/
/.nyc_output/
/coverage/
/coverage-css-and-html/

/npm-debug.log*

# These need to be included in the npm package
# /dist/browser.js
# /dist/browser.js.map

/node_modules*
/src/browser/
/script/
/test/
/.*
