/* TODO: Log each error message text for diffing later */
::explode { content: "invalid pseudo-element"; }
:expode { content: "invalid pseudo-class"; }
/*body { content: invalid-function(); } This is now valid because we output the unprocessed functions to CSS*/
/*body::after(non-numeric-arg) { content: "bug"; }*/
body { attrs-add: 'data-with-no-value'; }
/*::after(non-numeric-arg) { content: "bug"; }*/
body { content: ancestor-context('invalid-element-name', text-content()); }
body::for-each-descendant(123,) { content: "no 2nd arg specified"; }
/*body::for-each-descendant(1,0) { content: "2nd arg must be a string"; }*/
/*body::for-each-descendant(1, '.no-matches') { content: "no elements were matched (may become a warning)"; }*/
/*body { contentssss: "bug"; }*/
body { content: attr(hreffooo); } /* non-existant attribute */
body { x-throw: now; }
body { x-throw: later; }
body { x-throw: attr(href); }
body { content: x-throw(); }
body { content: attr(non-existent-attribute); }
body { content: descendant-context('.nothing-matches', attr(href)); }
body { content: ancestor-context('.nothing-matches', attr(href)); }
body { content: target-context('.not-an-href', attr(href)); }
body { content: add(); }
body { content: add('not a number1'); }
body { content: add(234, 'not a number2'); }
body { content: add('not a number3', 345); }
body { content 'missing-colon'; } /* CSS Parsing Error. Missing colon */
body:hover { color: blue; }
body::has(.foo) { }
body { content: add(456, 567, 'not a number4'); }
body { content: add(678 789, 890); }
body { content: add(901, move-here('.move-source')); }
body { content: number-to-letter(27, upper-latin); }
body { content: number-to-letter(27, lower-latin); }
body { content: number-to-letter(5000, upper-roman); }
body { content: number-to-letter(5000, lower-roman); }
body { content: number-to-letter(1, foo); }
body { content: count-of-type('.i-do-not-match-this-selector-so-error'); }
/*div { x-display: none; } div::for-each-descendant(1, '> span') { content: 'parent-is-detached-so-error'; }*/
