@collated-exercise-classes: .homework, .conceptual;
@collated-exercise-sel: exercise.homework, exercise.conceptual;

// Number collated exercises on their own
exercise {
  // Number exercises by how they occur in the chapter
  &::before {
    tag-name-set: 'strong';
    content: ancestor-context('chapter', count-of-type('exercise:not(@{collated-exercise-classes})')) '. ';
  }

  &.homework {
    &::before {
      content: ancestor-context('chapter', count-of-type('exercise.homework')) '. ';
    }
    answer::before {
      content: ancestor-context('chapter', count-of-type('exercise.homework')) '. ';
    }
  }

  &.conceptual {
    &::before {
      content: ancestor-context('chapter', add(count-all-of-type('exercise.homework'), count-of-type('exercise.conceptual')), ) '. ';
    }
    answer::before {
      content: ancestor-context('chapter', add(count-all-of-type('exercise.homework'), count-of-type('exercise.conceptual')), ) '. ';
    }
  }
}

chapter::after(1) {
  &::before {
    tag-name-set: "h2";
    content: "Homework Exercises";
  }
  &::for-each-descendant(1, 'section') {
    &::before {
      tag-name-set: "h3";
      content: descendant-context('> title', text-contents());
    }
    content: move-here('exercise.homework');
  }
}

chapter::after(2) {
  &::before {
    tag-name-set: "h2";
    content: "Conceptual Questions";
  }
  &::for-each-descendant(1, 'section') {
    &::before {
      tag-name-set: "h3";
      content: descendant-context('> title', text-contents());
    }
    content: move-here('exercise.conceptual');
  }
}

body::after {
  &::before { content: 'Answer Key'; }
  content: move-here('answer');
}
