@collated-exercise-classes: .homework, .conceptual;
@collated-exercise-sel: exercise.homework, exercise.conceptual;

// Number collated exercises on their own
exercise {
  // Number exercises by how they occur in the chapter
  &::before(1) {
    tag-name-set: 'strong';
    content: ancestor-context('chapter', count-of-type('exercise:not(@{collated-exercise-classes})')) '. ';
  }

  &@{collated-exercise-classes} {
    &::before(1) {
      tag-name-set: 'strong';
      content: ancestor-context('chapter', count-of-type('@{collated-exercise-sel}')) '. ';
    }
  }
}

chapter::after(1) {
  &::before(1) { content: 'End-of-Chapter exercises'; }
  content: ancestor-context('chapter', move-here('@{collated-exercise-sel}'));
}
