/*
 * Backticks should be parseable: ``
 */

.example {
  border-color: #E0CB52;
  background: #FCFAEE;
  padding: .5em;
  border-left-width: .5em;
  border-left-style: solid;
  counter-increment: example 1, somethingElse 0;
}

.example::before {
  tag-name-set: 'h2';
  content: 'Example';
  font-weight: bold;
}

.misc[data-type=foo],
.misc:nth-child(even),
.misc:nth-child(2n),
.misc:nth-of-type(2n+1),
.misc:nth-last-of-type(2),
.misc:first-child,
.misc:first-of-type,
.misc:last-of-type,
.misc:only-of-type,
.misc:only-child {
  content: 'kittens';
}


/* These are used by princexml so we need to verify that they are parsed */
.misc::footnote-marker,
.misc::footnote-call,
.misc::marker { }
